<div class="main">
    
    <div class="div2">
        <h1 class="first">Exchange Not Connected</h1>
        <h1 class="second">Trial Subscription-7 more days left</h1>
        <button class="third">Renew Subscription</button>
    </div>
  
    <div class="div3">
        <h1 class="first3">Balance<br><b>$25,200.97</b></h1>
        <h1 class="second3">2.043454 BTC</h1>
        <h1 class="third3">Invested<br>$10,458.00</h1>
        <h1 class="third4">%Profit<br>+60%</h1>
        <h1 class="third5">USD profit<br>$15,648.38</h1>
        <button class="button2">Add Exchange</button>
    </div>
    <div class="div4">
        <img class="img1" src="assets/py circle.jpg">
        <h1 class="bitcoin1">Bitcoin<br><b>$11,567.00</b></h1>
        <h1 class="bitcoin2">Ethereum<br><b>$5,583.00</b></h1>
        <h1 class="bitcoin3">Monero<br><b>$8,050.97</b></h1>
        

    </div>
    <div class="div5">
        <h1 class="text">Portfolio 1 <br><span>Day<br>3.7%</span></h1>
        <img class="img4"src="assets/chart1.jpg"><hr>
        <h1 class="week">Week<br>7%</h1>
        <h1 class="year">Year<br>29%</h1>
        <h1 class="time">All Time<br>254%</h1>

    </div>
    <div class="div6">
        <h1 class="text">Portfolio 2 <br><span>Day<br>3.7%</span></h1>
        <img class="img4"src="assets/chart1.jpg"><hr>
        <h1 class="week">Week<br>7%</h1>
        <h1 class="year">Year<br>29%</h1>
        <h1 class="time">All Time<br>254%</h1>

    </div>
    <div class="div7">
        <h1 class="text">Portfolio 3 <br><span>Day<br>3.7%</span></h1>
        <img class="img4"src="assets/chart1.jpg"><hr>
        <h1 class="week">Week<br>7%</h1>
        <h1 class="year">Year<br>29%</h1>
        <h1 class="time">All Time<br>254%</h1>

    </div>
    <div class="div8">
        <img  class="img8" src="assets/candal.jpg">

    </div>
    <div class="div9">
        <h1 class="jan">Transactions</h1>
        <button class="feb">See all</button>
        <h1 class="apr">Buy<br>$250.00<span>Apr20,2020</span></h1>
        <h1 class="may">Sell<br>$250.00<span>Apr16,2020</span></h1>
        <h1 class="june">Sell<br>$250.00<span>Apr10,2020</span></h1>
       

    </div>
    <div class="div10">
        <img  class="last"src="assets/profile.png">
        <h1 class="sun">Good morning,Ivan!<br><span>Settings</span></h1>
        <h1 class="mon">Recent activity</h1>
        <h1 class="last1">1,837 USD= 0.084 BTC<br><span>1 BTC=8,468 USD</span></h1><br>
        <h1 class="last2">1,837 USD= 0.084 BTC<br><span>1 BTC=8,468 USD</span></h1><br>
        <h1 class="last3">1,837 USD= 0.084 BTC<br><span>1 BTC=8,468 USD</span></h1><hr>
        <h1 class="thu">Exchange<span><button>USD</button></span></h1>
        <input type="text" class="price1"placeholder="1,700.00 USD">
        <input type="text" class="price2"placeholder="0,674931 BTC">
        <div class="pink">
            <img src="assets/msg.jpg">
            <h1 class="white">Invite customers and <br>get $10 for each</h1>
            <button >Send Invitation</button>
        </div>
    </div>
    <!-- <div class="div11">

    </div> -->

</div>
